#bgColor{
    border-radius: 25px;
    }
#smpl{
    margin-right: 430px;
}
#btn{
    margin-left: 40%;
}

#add{
    margin-left:90%;
    margin-top:-10%;
}
#clr{
    color: white;
}
#getList{
}

#displayList{
    margin-left:280px;
    border-radius: 3px 3px 7px 25px;
}



 .material-symbols-outlined {
     font-variation-settings:
             'FILL' 0,
             'wght' 200,
             'GRAD' 0,
             'opsz' 0
 }


@media all and (max-width: 500px){
    body {
        padding-top: 0%;
    }
    #col2{
        margin-right: 30%;
    }
    #add{ /*btn add*/
        margin-left: 40%;
    }
    #displayList{
        margin-left: 70%;
    }

}
